<header>
    <div class="logo">
        Nhóm 10
    </div>
    <div class="menu">
        <li>Trang chủ</li>
        <li>Giới thiệu</li>
        <li><a href="/products.html">Sản phẩm</a><i class="fa-solid fa-caret-down"></i></li>
        <li><a href="/news.html">Tin tức</a></li>
        <li><a href="">Cửa hàng</a></li>
        <li>Liên hệ</li>
    </div>
    <div class="others">
        <div class="others">
            <div class="icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="icon">
                <i class="fa-regular fa-user"></i>
            </div>
            <div class="icon badge" >
                <i class="fa-regular fa-heart"></i>
                <span>0</span>
            </div>
            <div class="icon badge">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>0</span>
            </div>
        </div>
    </div>
    
</header>